[submodule "SVGen"]
	path = SVGen
	url = https://github.com/WGLab/SVGen
[submodule "TwoPaCo"]
	path = TwoPaCo
	url = https://github.com/medvedevgroup/TwoPaCo
[submodule "sequenceTubeMap"]
	path = sequenceTubeMap
	url = https://github.com/wolfib/sequenceTubeMap
