[submodule "sequenceTubeMap"]
	path = sequenceTubeMap
	url = https://github.com/wolfib/sequenceTubeMap
	branch = master
[submodule "SVGen"]
	path = SVGen
	url = https://github.com/WGLab/SVGen
	branch = master
